<template lang="pug">
v-container
  v-list(subheader)
    v-subheader 使用說明
    v-list-item(v-for="(text, index) of list")
      v-list-item-content {{index+1}} {{text}}
</template>
<script>
export default {
  name: 'instructions',
  data: () => ({
    list: [
      '先從 設定>管理 TOKEN 匯入使用的的private token',
      '設定>管理 ID 可以加入團隊或是個人的ID',
      '目前只有剪分支工具因為尚未完全完成，所以可能會有小問題',
      'commits清單如果沒找到你要的commit是因為目前設定為搜尋30天內',
    ],
  }),
}
</script>
