<template lang="pug">
  v-container
    v-list(subheader)
      v-subheader 預定完成項目
      v-list-item(v-for="(text, index) of list")
        v-list-item-content {{index+1}} {{text}}
</template>
<script>
export default {
  name: 'Home',
  data: () => ({
    list: [
      '搜尋commit可選擇日期',
      'commit列表加入分頁',
      'token過期移除',
      '切換token後清除已搜尋專案',
      'navbar切換token',
      '刪除全部token',
      '匯出/匯入 token/id/全部',
      '左邊選單游router自動取得',
      'localhost運行時背後運行nodejs後端並執行終端機指令',
    ],
  }),
}
</script>
