<template lang="pug">
  .layout
    custom-nav
    v-app-bar(app clipped-left color="primary" dark dense)
      v-toolbar-title Gitlab Support Tools {{ tag }}
    v-content
      slot
</template>
<script>
import customNav from '@/components/navigator'
import tag from '@/build'

export default {
  name: 'layout-default',
  components: {
    customNav,
  },
  data: () => ({
    tag,
  }),
}
</script>
